<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Mongoose Flights</title>
</head>

<body>
    <nav>
        <h1 id="main-title">Mongoose Flights</h1>
        <a href="/flights"><button>All Flights</button></a>
        <a href="/flights/new"><button>Add New Flight</button></a>
    </nav>