<%- include('../partials/header') %>

  <h3>Add Flight Detials</h3>

  <form id="new-flight" action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat (A-F\1-9\1-9 Example: A23):</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input type="number" name="price">
    <section></section>
      <input id="new-ticketBtn" type="submit" value="Add Ticket">
    </section>
  </form>

  <%- include('../partials/footer') %>