* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  font-family: 'Dongle', sans-serif;
}

body > nav {
  display: flex;
  align-items: center;
  font-size: 45px;
  color: #5A5A5A;
}

nav > a {
  padding: 2px 10px;
  margin: 0 6px 3px 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #5A5A5A;
  text-align: center;
  transition: all 0.2s;
  display: inherit;
}

nav > a:hover {
  color: floralwhite;
  background-color: #5f9af8;
}

nav > img {
  width: 65px;
  object-fit: contain;
  margin-right: auto;
}

#flight-idx {
  font-size: 25px;
}

#add-flight {
  font-size: 25px;
  font-weight: bold;
  color: #5A5A5A;
}

#add-flightBtn {
  padding: 7px 17px;
  border: 2px solid #5f9af8;
  margin: 0 6px 6px 0;
  border-radius: .75vmin;
  width: 10em;
  height: 2em;
  font-size: 15px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: floralwhite;
  text-align: center;
  transition: all 0.2s;
  background-color: #5f9af8;
  float: left;
}

#add-flightBtn:hover {
  color: #5f9af8;
  background-color: floralwhite;
}

#dept-info {
  display: grid;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(4, 275px);
  align-items: center;
  font-size: 30px;
  text-align: center;
}

#flight-info {
  display: grid;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(4, 275px);
  align-items: center;
  font-size: 30px;
  text-align: center;
}

#ticket-info {
  font-size: 30px;
  text-align: center;
}

#delete-ticket {
  border-color: #ffce6d;
  color: #5f9af8;
  background-color: #ffce6d;
  width: 10em;
  border-radius: 2px;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
}

#details-btn {
  padding: 7px 17px;
  border: 2px solid #5f9af8;
  margin: 0 6px 6px 0;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: floralwhite;
  text-align: center;
  transition: all 0.2s;
  background-color: #5f9af8;
  display: inherit;
}

#details-btn:hover {
  color: #5f9af8;
  background-color: floralwhite;
}


#add-destination {
  margin-top: 5px;
  background-color: #5f9af8;
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
  color: white;
  width: 10em;
  height: 2em;
  border-radius: .75vmin;
  border: none;
}

#add-destination:hover {
  color: #5f9af8;
  background-color: floralwhite;
}

#buy-ticket {
  padding: 7px 17px;
  border: 2px solid #5f9af8;
  margin: 0 6px 6px 0;
  border-radius: .75vmin;
  width: 10em;
  height: 2em;
  font-size: 25px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: floralwhite;
  text-align: center;
  transition: all 0.2s;
  background-color: #5f9af8;
  justify-items: center;
}

#buy-ticket:hover {
  color: #5f9af8;
  background-color: floralwhite;
}

#new-flight {
  font-size: 25px;
  font-weight: bold;
  color: #5A5A5A;
}

#new-ticketBtn {
  padding: 7px 17px;
  border: 2px solid #5f9af8;
  margin: 0 6px 6px 0;
  border-radius: .75vmin;
  width: 10em;
  height: 2em;
  font-size: 15px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: floralwhite;
  text-align: center;
  transition: all 0.2s;
  background-color: #5f9af8;
  float: left;
}

#new-ticketBtn:hover {
  color: #5f9af8;
  background-color: floralwhite;
}

h1 {
  margin: 10px;
}

h2, h3 {
  margin: 10px;
  color: #5A5A5A;
  font-size: 40px;
}

h4 {
  font-weight: bold;
  font-size: 30px;
  color: #5A5A5A;
  text-decoration: underline;
}

h5 {
  color: darkgray;
}

th {
  font-size: 30px;
  color: #5A5A5A;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5f9af8;
  font-size: 15px;
  color: white;
  text-align: center;
  height: 45px;
}